body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin-top: 50px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

#keys-container, #user-keys-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    margin: 10px;
}
