<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Please Login</h1>
        <div th:if="${param.error}">Invalid Username and Password</div>
        <div th:if="${param.badcredentials}">Bad Credentials</div>
        <div th:if="${param.logout}">You have been logged out</div>
        
    
    <form action="#" th:action="@{/login}" method="post">
        
        <label for="username">Username: 
            <input type="text" name="username" id="username" placeholder="username">
        </label>

        <label for="password">Password: 
            <input type="password" name="password" placeholder="password">
        </label>

        <input type="submit" value="Login">
    </form>
</body>
</html>