


    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${email}"></title>
    <link rel="stylesheet" th:href="@{/css/userstyle.css}">

  </head>
  <body>
    <div class="navbar">
      <h1>USER Dashboard</h1>
      <a th:href="@{/logout}" href="#" class="btn">Logout</a>
    </div>

    <div class="container">
      <div class="card-container">
        <div class="card" th:each="key : ${keys}">
          <h3 th:text="${key.email}"></h3>
          <p><strong>Access Key:</strong> <span th:text="${key.keyValue}"></span></p>
          <p><strong>Procured Date:</strong> <span th:text="${key.procured_date}"></span></p>
          <p><strong>Expiry Date:</strong> <span th:text="${key.expiry_date}"></span></p>
          <p><strong>Status:</strong> <span th:text="${key.status}"></span></p>
        </div>
      </div>

      <form action="#" th:action="@{/web/users/generate}" method="post" class="generate-form">
        <button type="submit" class="btn">Generate</button>
      </form>
    </div>
  </body>
</html>